    /*rem units setings queda 1=10px*/
    html {
    font-size: 62.5%;
    color: #393e46;
    width: 100%;
    overflow-x: hidden;
    }

    /* import de media queries */
    @import "_media-queries";

    /* Definición de variables */

    $primary-color: #5dc4af;
    $secondary-color: #383d47;
    $text-color: #2d3238;
    $background-color: #f3f0f0;
    $alternative-color: #fff27d;
    $aux-color-1: #bcddf3;
    $aux-color-2: #fcd5f9;
    $aux-color-3: #fcf4ab;
    $aux-color-4: #b2f7ff;
    $aux-color-5: #bcffe8;
    $aux-color-6: #fae2ba;
    $font-title: "Poppins", sans-serif;
    $font-body: "Raleway", sans-serif;

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    font-family: $font-body;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $text-color;
    line-height: 1.3;
    width: 100%;
    overflow-x: hidden;
    max-width: 2560px;
    p{
        font-size: 1.6rem;
        margin: 2.5rem 0;
        color: $text-color;
        font-family: $font-body;
        font-weight: 500;
    }
    }

    /* Mejoras en la tipografía */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-weight: 800s;
    font-family: $font-title;
    line-height: 1.2;
    font-weight: 800;
    color: $secondary-color;
    }
    h1 {
    font-family: $font-title;
    font-weight: 800;
    font-size: 4rem;
    }
    h2 {
    font-size: 4rem;
    }

    .green {
        color: $primary-color;
    }

    /* Optimización de imágenes */
    img {
    max-width: 100%;
    height: auto;
    }

    /* Los botones */
    a {
    font-family: $font-body;
    font-size: 1.4rem;
    text-decoration: none;
    color: $secondary-color;
    transition: 0.2s;
    position: relative;
    min-width: 1rem;
    align-items: center;
    justify-content: center;
    top: 5px;
    }
    a:hover {
    font-weight: 800;
    }
    /* botones con contenedor */
    .cta-button,
    .cta-button-1 {
    padding: 0.5rem 1.61rem;
    border-radius: 18px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: $font-body;
    transition: 0.2s;
    text-decoration: none;
    display: inline-block;
    min-width: 1rem;
    align-items: center;
    justify-content: center;
    }
    .cta-button:hover,
    .cta-button-1:hover {
    font-weight: 800;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    /* boton verde */
    .cta-button {
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    }
    /* Boton Transparente */
    .cta-button-1 {
    background-color: rgba(255, 255, 255, 0.1);
    color: $text-color;
    border: solid 1px $text-color;
    backdrop-filter: blur(3px);
    }

    /* Encabezado */
    header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    max-width: 2560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding: 2rem;
    @include tablet{
        padding: 3rem 8rem;        
    }
    .logo {
        width: 150px;
        height: auto;
        margin: 1.16%;
    }
    .logo:hover{
        transform: scale(120%);
        transition: 0.2s
    }
    .ham-menu {
        height: 38px;
        width: 45px;
        margin-left: auto;
        position: relative;
        top: -7px;
        right: 25px;
        z-index: 11;
        @include tablet {
        display: none;
        }
    }

    .ham-menu span {
        display: block;
        margin: 1px;
        height: 4px;
        width: 30px;
        background-color: #393e46;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0%;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .screen-menu {
        display: none;
        @include tablet {
        display: flex;
        gap: 2rem;
        }
    }
    }
    
    .off-screen-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #93ddc2ed;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 150px;
    right: -150px;
    padding-top: 100px;
    justify-self: right;
    align-items: center;
    transition: 0.3s ease;
    border-radius: 16px;
    box-shadow: 0 10px 16px #3d434c7f;
    z-index: 6;
    }

    .off-screen-menu.active {
    right: -10px;
    display: flex;
    }

    /* Contenedor de hero */
    .background-container-inicio {
    background-image: url("../assets/foto_inicio_hero_background.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    min-height: 500px;
    .hero {
        height: 100vh;
        display: flex;
        align-items: center;
        .hero-content {
            position: relative;
            top: 5rem;
            max-width: 600px;
            padding: 2rem;
            animation: fadeIn 1s ease-out;
        h1{
            margin: 1rem 0;
            line-height: 1.1;
            @include tablet{
                font-size: 5rem; 
            }
        }
        @include tablet{
            margin-left: 5rem;
        }
        .cta-button{
            margin-top: 1rem;
        }
        }
    }
    }
/* Seccion de descripcion del programa */
    .program-description{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        padding: 2.5rem;
    h2{
    max-width: 400px;
    margin-left: 2rem;
    font-family: $font-title;
    text-align: left;
    padding: 0rem;
    line-height: 100%;
    }
    .descripcion{
        max-width: 400px;
        margin: 0;
        font-family:$font-body;
        font-size: 18px;
        text-align: left;
        padding: 2rem;
    }
}

/* Sección de pasos */
.steps {
    margin-top: 5rem;
    display: flex;
    justify-content: center; /* Centra verticalmente */
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    
    .step-card {
        background-color: #FFF2FE;
        border-radius: 12px;
        padding: 1rem;
        max-width: 210px;
        height: 220px;
        text-align: center;
        position: relative;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin: 3rem 1rem;
        hyphens: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: .1;
        transform: translateY(20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        h3 {
            color: $primary-color;
            position: absolute;
            top: -40px;
            transform: translateY(-25%);
            transform-origin: left center;
            white-space: nowrap;
            font-size: 28px;
            font-family: $font-title;
            font-weight: 900;
            text-align: center;
            transition: 0.2s;
        }
        h4 {
            font-family: $font-body;
            font-size: 11px;
            color: $alternative-color;
            background-color: $primary-color;
            border-radius: 23px;
            padding: 10px 10px;
            position: absolute;
            top: -20px;
            text-align: center;
            width: 150px;
            transition: 0.2s;
        
        
        }
        p{
            position: relative;
            font-family: $font-body;
            font-weight:500;
            padding: 0px;
            height:max-content;
            text-align: center;
            transition: 0.2s; 
            width: 60%;   
            font-size: 1.4rem;
            top: 15%;
            transform: translateY(-50%);
            
        }
        .cta-button{
            position: absolute;
            margin-top:60%;
            font-family: $font-title;
            font-size: 12px;
            padding: 7px;
            height: 40px;
            width: 150px;
            border-radius: 12px;
            background-color: $alternative-color;
            color: $text-color;
            box-shadow:0 4px 6px rgba(0, 0, 0, 0.1) ;
            transition: 0.2s;
        }
    } 
    .step-card:hover h3{
        transition: .2s;
        font-size: 40px;
        top: -65px;
    } 
    .step-card:hover h4{
        background-color:$alternative-color;
        color:$text-color;
    
    }
    .step-card:hover p{
        color: $alternative-color;
        font-weight: 700;
    } 
    .step-card.visible {
        opacity: 1;
        transform: translateY(0);
    }
    .step-card:hover {
        transform: translateY(-40px);
        box-shadow: 0 10px 20px $text-color;
        background-color:$primary-color;
    }
    }

    .mujeres-lideres {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-content: center;
        position: relative;
        padding: .5rem;
        background-color: #e6f0e1;
        min-height: 320px;
        padding-bottom: 20px;
    
        .mujeres-lideres-container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 3rem;
            align-self: center;
            justify-content: center;
            justify-items: center;
            .text-container{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 80vw;
                max-width: 500px;
            }   
        }
    
        h2 {
            font-family: $font-title;
            text-align: left;
            align-content: center;
            align-items: center;
            padding-top: 0;
            margin-top: 0px;
            line-height: 100%;
            font-size: 2.6rem;
            color: $secondary-color;
            font-weight: 800;
            max-width: 600px;
        }
    
        p {
            max-width: 600px;
            font-size: 1.6rem;
            margin: 2.5rem 0;
            color: $text-color;
            font-family: $font-body;
            font-weight: 500;
        }
    
        .features {
            display: grid;
            align-items: center;
            justify-items: center;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 1rem;
            width: 100%;
        }
    
        .feature {
            padding: 2rem;
            text-align: left;
            height: fit-content;
            width: fit-content;
            align-self: baseline;
    
            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }
    
            h3 {
                font-family: $font-title;
                font-size: 1.5rem;
                margin-bottom: 1rem;
                color: $primary-color;
            }
    
            p {
                font-size: 1.1rem;
                hyphens: none;
                line-height: 150%;
                font-weight: 600;
            }
    
            .icon {
                width: 7rem;
                height: 7rem;
                margin-bottom: 1rem;
    
                svg {
                    width: 100%;
                    height: 100%;
                    stroke: $primary-color; // Usa el color primario para el trazo
                    fill: none; // Asegura que el interior del icono sea transparente
                    transition: transform 0.3s ease;
                    fill: $primary-color;
                }
            }
        }
    
        .image-content {
            img {
                max-width: 400px;
                height: auto;
            }
        }
    }
    
    @include tablet {
        .section-women-leaders {
            .women-leaders-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
    
            .text-content {
                width: 50%;
            }
    
            .image-content {
                width: 45%;
            }
        }
    }

    /* seccion de trajetas de servicios */
    .sst-services {
        padding: 0 5vw;
        background-color: $background-color;
    
        .service-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 0rem; // Añadimos un pequeño espacio entre las tarjetas
            justify-content: center; // Centramos las tarjetas
        }
    
        .service-card {
            background-color: white;
            padding: 2rem 3rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            align-items: center;
            max-width: 700px; // Limitamos el ancho máximo
            display: flex;
            flex-direction: column; // Organizamos el contenido verticalmente
            justify-content: space-between; // Distribuimos el contenido verticalmente
            min-height: 300px; // Establecemos una altura mínima
    
            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }
    
            h3 {
                font-size: 2.9rem; // Reducimos un poco el tamaño para móviles
                font-family: $font-title;
                font-weight: 800;
                margin-bottom: 1rem;
                color: $text-color;
                line-height: 1.2;
                width: 60vw;
                max-width: 450px;
                align-self: baseline;
            }
    
            p {
                font-size: 1.4rem;
                margin-bottom: 1.5rem;
                flex-grow: 1; // Permite que el párrafo crezca para llenar el espacio
                max-width: 450px;
                align-self: baseline;
            }
    
            .cta-button {
                background-color: $primary-color;
                color: white;
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 20px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                align-self: flex-start; // Alineamos el botón al inicio
                margin: 0 1rem; // Ajustamos el margen para móviles
    
                &:hover {
                    background-color: $secondary-color;
                }
            }
    
            // Estilos específicos para cada tarjeta
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    @if $i % 2 == 0 {
                        
                        text-align: right;
                        justify-content: right;
                        h3, p{
                            text-align: right;
                            align-self: flex-end;
                            
                        }
                        .cta-button { align-self: flex-end; 
                        align-content: end;}
                    } @else {
                        text-align: left;
                        
                    }
    
                    @if $i == 1 {
                        background-color: #E6F3F0;
                    } @else if $i == 2 {
                        background-color: #FCE4EC;
                    } @else if $i == 3 {
                        background-color: #FFF9C4;
                    } @else if $i == 4 {
                        background-color: #E1F5FE;
                    } @else if $i == 5 {
                        background-color: #E8F5E9;
                    } @else if $i == 6 {
                        background-color: #FFF3E0;
                    }
                }
            
    }
        }
    
        // Media query para tablets y escritorio
        @include tablet {
            .service-grid {
                flex-wrap: wrap;
            }
    
            .service-card {
                flex: 0 1 calc(50% - 1rem); // Dos columnas en tablet
                
                h3 {
                    font-size: 3.5rem; // Volvemos al tamaño original para pantallas más grandes
                    padding: 0 3rem;
                }
    
                p {
                    padding: 0 3rem;
                }
    
                .cta-button {
                    margin: 0 3rem;
                }
            }
        }
    }