/* Definición de variables*/
:root {
    --primary-color: #93DDC2;
    --secondary-color: #393e46;
    --text-color: #232931;
    --background-color:#f3f0f0;
    --alternative-color:#FCF4AB;
    --font-title: "Poppins", sans-serif;
    --font-body: "Raleway", sans-serif;
}

/*Estilos generales*/
body {
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Contenedor de fondo */
.background-container {
background-image: url('assets/Foto_portada_editada.png');
background-size: cover;
background-position: center;
background-attachment: fixed;
min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la pantalla */
}

/* Encabezado */
header {
    background-color: transparent;
    position: absolute;
    width: 80%;
    margin: 40px 120px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    width: 180px;
    height: auto;
}

/* Navegación */
nav a {
    font-family: var(--font-body);
    font-size: 14px; 
    margin-right: 4rem;
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.2s;
    }

nav a:hover {
    font-size: 18px; 
    color: var(--primary-color);
    font-weight: 800;
    transition: 0.2s;
}

/* Sección héroe */
.hero {
    height: 700px;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.hero-content {
    width: 650px;
    padding: 2rem;
    margin-left: 50px;
    margin-top: 150px;
}

h1 {
    font-family: var(--font-title);
    font-weight: 900;
    color: var(--text-color);
    font-size: 55px;
    line-height: 1.2;
}
.green{
    color: var(--primary-color);
}
.intro{
    width: 450px;
    margin-bottom: 50px;
}
/* Botones */
.cta-button, .cta-button-1 {
    padding: 0.5rem 1.61rem;
    border-radius: 18px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font-body);
    transition: 0.2s;
}

.cta-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    margin: 0 1rem;
}

.cta-button-1 {
    background-color: rgba(255, 255, 255, 0.081);
    color: var(--text-color);
    border: solid 1px var(--text-color);
    margin-right: 2.5rem;
}

/* Descripción del programa */
.program-description{
    display: flex; /* Activa Flexbox */
    align-items: center; /* Alinea verticalmente al centro */
    gap: 20px; /* Espacio entre el título y el párrafo */
}
h2{
    width: 500px;
    margin-left: 150px;
    font-family: var(--font-title);
    font-size: 50px;
    text-align: left;
    padding: 0rem;
    line-height: 100%;
}
.descripcion{
    width: 600px;
    margin: 50px;
    font-family:var(--font-body);
    font-size: 20px;
    text-align: right;
    padding: 2rem;
}

/* Sección de pasos */
.steps {
    display: flex;
    justify-content: center; /* Centra verticalmente */
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0px 50px;
    top: -300px;
    }

.step-card {
    background-color: rgb(233, 228, 220);
    border-radius: 12px;
    padding: 1rem;
    width: 12%;
    height: 180px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 4rem 1rem;
    hyphens: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-card:hover {
    transform: translateY(-40px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color:var(--primary-color);
}

.step-card h3 {
    color: var(--primary-color);
    position: absolute;
    top: -90px;
    transform: translateY(-25%);
    transform-origin: left center;
    white-space: nowrap;
    font-size: 28px;
    font-family: var(--font-title);
    font-weight: 900;
    text-align: center;
    transition: 0.2s;
}

.step-card:hover h3{
    transition: .2s;
    font-size: 40px;
    top: -100px;
}

.step-card h4 {
    font-family: var(--font-body);
    font-size: 11px;
    color: var(--alternative-color);
    background-color: var(--primary-color);
    border-radius: 23px;
    padding: 10px 10px;
    position: absolute;
    top: -30px;
    text-align: center;
    width: 120px;
    transition: 0.2s;


}
.step-card:hover h4{
    background-color:var(--alternative-color);
    color:var(--text-color);

}

.step-card p{
    font-family: var(--font-body);
    font-weight:300;
    margin-bottom: 10%;
    margin-top: 30px;
    padding: 0px;
    height:max-content;
    text-align: center;
    transition: 0.2s; 
    width: 60%;   
    
}
.step-card:hover p{
    color: var(--alternative-color);
    font-weight: 700;
}

.step-card .cta-button{
    margin-top:auto;
    font-family: var(--font-title);
    font-size: 12px;
    padding: 7px;
    height: 40px;
    width: 150px;
    border-radius: 12px;
    background-color: var(--alternative-color);
    color: var(--text-color);
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1) ;
    transition: 0.2s;
}
.step-card:hover .cta-button {
    background-color: #f3f0f0;
    color: var(--primary-color);
    
}
    
/* Sección de exámenes médicos */
.examenes-medicos {
    background-color: var(--secondary-color);
    color: white;
    padding: 2rem;
    text-align: center;
}
